body {
  background: linear-gradient(to left top, #ccffcc, #4dff4d);
}

.heading {
  border-bottom: solid 5px darkgreen;
  padding: 20px;
  margin-bottom: 15px;
}

a:visited {
  color: purple;
}

a:hover {
  color: white;
  text-decoration: none;
}

.floatleft {
  float: left;
  width: 20%;
  display: inline-block;
  padding-right: 20px;
}

.floatright {
  float: right;
  width: 80%;
  display: inline-block;
  text-align: center;
  padding-left: 15px;
}

img {
  width: 100%;
  border-radius: 100%;
  padding: 3%;
  box-shadow: 3px 3px 3px 3px black;
  margin-top: 10px;
}

.floatleft ul {
  margin-bottom: 15px;
  padding-left: 15px;
}

.floatleft h2 {
  margin-bottom: 15px;
}

.floatright ul p {
  text-align: left;
  margin-bottom: 0;
}

ol {
  text-align: left;
  padding-left: 15px;
}

.floatright li {
  padding-bottom: 15px;
}

.floatright h4 {
  padding-bottom: 20px;
  border-bottom: solid 5px darkgreen;
}

#aboutme {
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

#projects li {
  color: red;
}

.emphasize {
  text-decoration: underline;
}

.listhead {
  font-weight: bold;
  margin-bottom: 0;
}

h3 {
  border-bottom: solid 5px darkgreen;
  padding-bottom: 20px;
}

.floatright ol li {
  padding-bottom: 0;
}

.floatleft h2 {
  border-bottom: solid 5px darkgreen;
  padding: 20px;
}

h1 {
  font-size: 65px;
}

.floatright img {
  border-radius: 0;
  padding: none;
  box-shadow: none;
  width: 66.66667%;
}
