.floatleft {
  float: left;
  width: 20%;
  display: inline-block;
}

.floatright {
  float: right;
  width: 80%;
  display: inline-block;
  text-align: center;
  padding-left: 15px;
}

img {
  width: 100%;
  border-radius: 100%;
  padding: 15px;
}

.floatleft ul {
  margin-bottom: 15px;
}

.floatleft h2 {
  margin-bottom: 15px;
}

.floatright ul p {
  text-align: left;
}

.floatright li {
  padding-bottom: 15px;
}
